title: >-
  Walleye Thermal Optical Habitat Area (TOHA) of selected Minnesota lakes: 3 Model configurations (lake model parameter values)

abstract: >-
  This dataset provides model parameters used to estimate water temperature from a process-based model (Hipsey et al. 2019)
  and the trained model parameters for process-guided deep learning models (Read et al. 2019).
  This dataset is part of a larger data release of lake temperature model inputs and outputs for 881 lakes in the U.S.
  state of Minnesota(https://doi.org/10.5066/P9PPHJE2).
cross-cites:
  -
    authors: ['Matthew R. Hipsey', 'Louise C. Bruce', 'Casper Boon', 'Brendan Busch', 'Cayelan C. Carey', 'David P. Hamilton', 'Paul C. Hanson', 'Jordan S. Read', 'Eduardo de Sousa', 'Michael Weber', 'Luke A. Winslow']
    title: >-
      A General Lake Model (GLM 3.0) for linking with high-frequency sensor data from the Global Lake Ecological Observatory Network (GLEON).
    pubdate: 2019
    form: publication
    link: https://doi.org/10.5194/gmd-12-473-2019
  -
    authors: ['Luke A. Winslow','Gretchen J.A. Hansen','Jordan S. Read']
    title: >-
      Data release: A large-scale database of modeled contemporary and future water temperature data for 10,774 Michigan, Minnesota and Wisconsin Lakes
    pubdate: 2016
    form: data release
    link: http://dx.doi.org/10.5066/F7DV1H10
  -
    authors: ["Jordan S. Read", "Xiaowei Jia", "Jared Willard", "Alison P. Appling", "Jacob A. Zwart","Samantha K. Oliver","Anuj Karpatne","Gretchen J.A. Hansen", "Paul C. Hanson", "William Watkins", "Michael Steinbach","Vipin Kumar"]
    title: >-
      Process-guided deep learning predictions of lake water temperature
    pubdate: 2019
    form: publication
    link: https://doi.org/10.1029/2019WR024922

entities:
  -
    data-name: pb0_config.json
    data-description: A JSON file containing parameters for each of the lakes in this study
    attributes:
    -
      attr-label: glm_setup
      attr-def: parameters for setting up the General Lake Model and defining constants
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: morphometry
      attr-def: parameters describing the depth/area relationship of the lake for the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: time
      attr-def: parameters describing the time period and frequency of model runs for the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: output
      attr-def: parameters describing how the outputs of model runs from the General Lake Model are written
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: init_profiles
      attr-def: parameters describing General Lake Model initial conditions
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: meteorology
      attr-def: parameters describing time series drivers of General Lake Model runs
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: bird_model
      attr-def: parameters describing the use (if applicable) of the Bird model for General Lake Model runs
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: inflow
      attr-def: parameters describing inflows to the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: outflow
      attr-def: parameters describing outflows from the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: snowice
      attr-def: parameters describing how snow and ice dynamics are calculated by the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
  -
    data-name: pb0_nml_files.zip
    data-description: A zip file containing many glm2.nml files, one for each lake in this study
    attributes:
    -
      attr-label: glm_setup
      attr-def: parameters for setting up the General Lake Model and defining constants
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: morphometry
      attr-def: parameters describing the depth/area relationship of the lake for the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: time
      attr-def: parameters describing the time period and frequency of model runs for the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: output
      attr-def: parameters describing how the outputs of model runs from the General Lake Model are written
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: init_profiles
      attr-def: parameters describing General Lake Model initial conditions
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: meteorology
      attr-def: parameters describing time series drivers of General Lake Model runs
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: bird_model
      attr-def: parameters describing the use (if applicable) of the Bird model for General Lake Model runs
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: inflow
      attr-def: parameters describing inflows to the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: outflow
      attr-def: parameters describing outflows from the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
    -
      attr-label: snowice
      attr-def: parameters describing how snow and ice dynamics are calculated by the General Lake Model
      attr-defs: Hipsey et al. 2019
      data-min: NA
      data-max: NA
      data-units: NA
  -
    data-name: pgdl_fits_{group_id}_N{minN-maxN}_W{minW-maxW}.zip
    data-description: see this example https://github.com/USGS-R/mntoha-data-release/blob/master/in_text/text_07_habitat.yml#L117-L121
    attributes:
     -
        attr-label: [COLUMN NAME]
        attr-def: [COLUMN DESCRIPTION]
        attr-defs: [SOURCE, saying "This data release" is OK]
        data-min: [COLUMN MIN if applicable, NA if not]
        data-max: [COLUMN MAX if applicable, NA if not]
        data-units: [COLUMN UNITS if applicable, NA if not]
      -
        attr-label: [COLUMN NAME]
        attr-def: [COLUMN DESCRIPTION]
        attr-defs: [SOURCE, saying "This data release" is OK]
        data-min: [COLUMN MIN if applicable, NA if not]
        data-max: [COLUMN MAX if applicable, NA if not]
        data-units: [COLUMN UNITS if applicable, NA if not]
  -       
    data-name: pgdl_config.csv
    data-description: A CSV file containing parameters for each of the lakes in this study
    attributes:
      -
        attr-label: site_id
        attr-def: >-
        Lake identification number for this dataset. Is the Prmnn_I prefixed with source, as "nhd_{Prmnn_I}"
        attr-defs: >-
        http://nhd.usgs.gov/
        data-min: NA
        data-max: NA
        data-units: NA
      -
        attr-label: phase
        attr-def: [COLUMN DESCRIPTION]
        attr-defs: This data release
        data-min: [COLUMN MIN if applicable, NA if not]
        data-max: [COLUMN MAX if applicable, NA if not]
        data-units: [COLUMN UNITS if applicable, NA if not]
      -
        attr-label: goal
        attr-def: [COLUMN DESCRIPTION]
        attr-defs: This data release
        data-min: [COLUMN MIN if applicable, NA if not]
        data-max: [COLUMN MAX if applicable, NA if not]
        data-units: [COLUMN UNITS if applicable, NA if not]
      -
        attr-label: fold
        attr-def: [COLUMN DESCRIPTION]
        attr-defs: This data release
        data-min: [COLUMN MIN if applicable, NA if not]
        data-max: [COLUMN MAX if applicable, NA if not]
        data-units: [COLUMN UNITS if applicable, NA if not]
      -
        attr-label: learning_rate
        attr-def: Neural network learning rate
        attr-defs: This data release
        data-min: 0.005
        data-max: 0.008
        data-units: NA
      -
        attr-label: n_epochs
        attr-def: Total number of epochs to run during training. Needs to be larger than the n epochs needed for the model to converge
        attr-defs: This data release
        data-min: 100
        data-max: 200
        data-units: epochs
      -
        attr-label: state_size
        attr-def: Number of units in the hidden state of each cell
        attr-defs: This data release
        data-min: 20
        data-max: 20
        data-units: NA
      -
        attr-label: ec_threshold
        attr-def: Energy imbalance beyond which neural network will be penalized
        attr-defs: This data release
        data-min: 12
        data-max: 36
        data-units: NA
      -
        attr-label: dd_lambda
        attr-def: PRESENTLY IGNORED. Depth-density penalty lambda, a hyperparameter that needs manual tuning. Multiplier to depth-density loss when adding to other losses
        attr-defs: This data release
        data-min: 0
        data-max: 0
        data-units: NA
      -
        attr-label: ec_lambda
        attr-def: Energy-conservation penalty lambda, another hyperparameter that needs manual tuning. Multiplier to energy-conservation loss when adding to other losses. Could set ec_lambda=0 if we wanted recurrent neural network only, no energy conservation component
        attr-defs: This data release
        data-min: 0.01
        data-max: 0.01
        data-units: NA
      -
        attr-label: l1_lambda
        attr-def: L1-regularization penalty lambda, another hyperparameter that needs manual tuning
        attr-defs: This data release
        data-min: 0
        data-max: 0
        data-units: NA
      -
        attr-label: sequence_length
        attr-def: Length of each data sequence
        attr-defs: This data release
        data-min: 352
        data-max: 352
        data-units: daily observations
      -
        attr-label: sequence_offset
        attr-def: Number of observations by which each data sequence in inputs['predict.features'] is offset from the previous sequence. Used to reconstruct a complete prediction sequence without duplicates.
        attr-defs: This data release
        data-min: 176
        data-max: 176
        data-units: daily observations
      -
        attr-label: max_batch_obs
        attr-def: Upper limit on number of individual temperature predictions (date-depth-split combos) to generate and test against observations or internal consistency per batch. Used to decide how many batches to run. True batch size will differ between supervised and unsupervised datasets and will be capped at (1) for the larger of supervised and unsupervised, the largest number of completes sequences for complete depth profiles that fit within this max_batch_size, and (2) for the smaller of supervised adn unsupervised, the number of complete sequences that will make an equal number of batches to the other dataset type.
        attr-defs: This data release
        data-min: 200000
        data-max: 200000
        data-units: number of individual temperature predictions
      -
        attr-label: restore_path
        attr-def: Path to restore a model from, or ''
        attr-defs: This data release
        data-min: NA
        data-max: NA
        data-units: NA
      -
        attr-label: save_path
        attr-def: Path (directory) to save a model to. Will always be saved as ('checkpoint_%s' %>% epoch)
        attr-defs: This data release
        data-min: NA
        data-max: NA
        data-units: NA
  -
    data-name: pgdl_fit_lakes.png
    data-description: A PNG file ... see example https://github.com/USGS-R/pgmtl-data-release/blob/master/in_text/text_05_predictions.yml#L47
    attributes:
      -
        attr-label: PNG image
        attr-def: NA
        attr-defs: This data release
        data-min: NA
        data-max: NA
        data-units: NA

build-environment: >-
  This dataset was generated using open source tools available in the R programming language (R version 3.6.1 (2019-07-05)).
  The computing platform for generating data and metadata was x86_64-apple-darwin15.6.0.
  R packages loaded into this environment: purrr, version: 0.3.2; RcppCNPy, version: 0.2.10; sbtools, version: 1.1.7; RJSONIO,
  version: 1.3-1.2; glmtools, version: 0.16.0; rLakeAnalyzer, version: 1.11.4.1; GLMr, version: 3.1.16; stringr, version: 1.4.0;
  rgdal, version: 1.4-4; sp, version: 1.3-1; httr, version: 1.4.1; feather, version: 0.3.4; readr, version: 1.3.1; meddle,
  version: 0.0.8; mapdata, version: 2.3.0; maps, version: 3.3.0; tidyr, version: 0.8.0; dplyr, version: 0.8.3; whisker,
  version: 0.4; yaml, version: 2.2.0; scipiper, version: 0.0.16.

process-date: 20190706
indirect-spatial: U.S.A.
latitude-res: 0.1
longitude-res: 0.1
data-name: Model configuration details
data-description: >-
  Model configurations for running the General Lake Model (Hipsey et al. 2019) version 3 for each lake.
  The value for "lake_name" in the "morphometry" field is the mapping for "site_id" for the other datasets included in this release.
file-format: JSON (JavaScript Object Notation) formatted text file
